<div class="top-header">
  <h2 class="text-center"><strong><%= link_to @project.name, project_lists_path(@project), class: "secondary" %> - Edit List</strong></h2>
</div>
<div class="container">
  <div class="rhs-cont">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2 offset-md-3 col-lg-6">
        <div class="backed">
          <div class="p-2">
            <h4 class="text-center mb-4 blue"><strong>So much to do, so little time!</strong></h4>
            <%= render 'form', list: @list %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
