<div class="back-container"></div>
<div class="container">
  <%= link_to 'Back', projects_path %> | <%= link_to 'Edit', edit_project_path(@project) %>
  <h2><%= @project.name %></h2>
  <div class="accordion" id="accordionExample">
    <% @project.lists.each_with_index do |list, index| %>
      <%= render "shared/list", list: list, index: index  %>
    <% end %>
  </div>
</div>
