<div class="top-header">
  <h3 class="text-center"><%= link_to @project.name, project_path(@project), class: 'secondary' %> | To-dos ✅</h3>
  <%= render "shared/line", path: nil %>
</div>
<div class="container">
  <div class="backed nomin">
    <%= render "shared/lists", lists: @lists %>
  </div>
</div>

