// Define variables for your color scheme

// For example:
$red: #FD1015;
$redbg: #FFB2B2;
$blue: #0082CB;
$yellow: #FFC65A;
$yellowbg: #FFEAB2;
$orange: #E67E22;
$green: #1EDD88;
$greenbg: rgba(208,255,178,0.8);
$gray: #0E0000;
$light-gray: #F4F4F4;
$grey-semi: #A7A7A7;
$light-blue: #F3FBFF;
$light-blue-hover: #E3F5FF;
$primary: #0082CB;
$secondary: #4DACE1;
