h4 {
  font-size: 18px !important;
}
.grey {
  color: gray;
}
.green {
  color: $green;
}
p {
  margin-bottom: 0;
}
.sub-hold {
  min-width: 120px;
}
.subtext {
  font-size: 0.8rem;
  color: $grey-semi;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.fade-in {
  opacity: 1;
}
.je {
  justify-content: flex-end;
  display: flex;
}
.js {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.jcol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.period-inner {
  padding-left: 5px;
  width: calc(100% - 40px);
}
.rel {
  position: relative;
}
.elipssis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.red {
  color: $red;
}
.redbg {
  background-color: $redbg !important;
}
.yellowbg {
  background-color: $yellowbg !important;
}
.greenbg {
  background-color: $greenbg !important;
}
.sub-backed {
  position: relative;
  padding: 0.25rem 0.5rem;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid $light-blue-hover;
}
.sub-note {
  position: relative;
  padding: 0.25rem 0.5rem;
  background-color: #fff9ed;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid $light-blue-hover;
}
.black {
  color: black;
}
.back-hov {
  &:hover {
    background-color: $light-blue-hover;
  }
}
.p15 {
  padding: 0px 30px;
}
.log {
  padding: 5px 0;
}

.nomin {
  min-height: unset;
}
.pointer {
  cursor: pointer;
}
.team-holder {
  position: absolute;
  bottom: 50px;
  left: 35px;
  display: flex;
  justify-content: flex-start;
}
.link {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.task_link {
  display: block;
}
