<div class="container">
  <div class="backed">
    <% @invoice.tasks.each do |task| %>

    <% end %>

    <% if !@invoice.approved && policy(@invoice).approve? %>
      <%= link_to 'APPROVE', approve_invoice_path(@invoice), method: :patch %> |
      <%= link_to 'Back', invoices_path %>
    <% end %>
  </div>
</div>


