<div class="container">
  <div class="line-cont">
    <div class="line-link">
      <i class="fas fa-search blue"></i>
    </div>
    <div class="line"></div>
    <a href="<%= request.url + "/new" %>" class="line-link">
      <i class="fas fa-plus blue"></i>
    </a>
  </div>
</div>
