<div class="row">
  <div class="col-sm-12 col-md-6 mb-4">
    <div class="sub-backed sub-col">
      <h5 class="text-center pt-2">🚨 Emergency Lists</h5>
      <hr class="hr">
      <div class="row">
        <div class="col-sm-6">
          <p class="text-center psm green">Pros</p>
          <p class="text-center psm">Goes to the top of our priority list</p>
          <p class="text-center psm">Rapid response</p>
        </div>
        <div class="col-sm-6">
          <p class="text-center psm red">Cons</p>
          <p class="text-center psm">More expensive if we did not cause the error</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 mb-4">
    <div class="sub-backed sub-col">
      <h5 class="text-center pt-2">🤝 Quoted Lists</h5>
      <hr class="hr">
      <div class="row">
        <div class="col-sm-6">
          <p class="text-center psm green">Pros</p>
          <p class="text-center psm">Tasks are performed for a fixed price</p>
        </div>
        <div class="col-sm-6">
          <p class="text-center psm red">Cons</p>
          <p class="text-center psm">Must wait until a price has been agreed before work commences</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 mb-4">
    <div class="sub-backed sub-col">
      <h5 class="text-center pt-2">⏱️ Support</h5>
      <hr class="hr">
      <div class="row">
        <div class="col-sm-6">
          <p class="text-center psm green">Pros</p>
          <p class="text-center psm">Good for small changes and updates</p>
          <p class="text-center psm">Reduced hourly rate with a support contract</p>
        </div>
        <div class="col-sm-6">
          <p class="text-center psm red">Cons</p>
          <p class="text-center psm">Work is billed hourly, may not be ideal for large tasks</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 mb-4">
    <div class="sub-backed sub-col">
      <h5 class="text-center pt-2">🆓 Free</h5>
      <hr class="hr">
      <div class="row">
        <div class="col-sm-6">
          <p class="text-center psm green">Pros</p>
          <p class="text-center psm">Tasks are not charged</p>
          <p class="text-center psm">Good for your own tasks, and testing out the platform</p>
        </div>
        <div class="col-sm-6">
          <p class="text-center psm red">Cons</p>
          <p class="text-center psm">Tasks requiring development will not be performed</p>
        </div>
      </div>
    </div>
  </div>
</div>
