<div class="void_list">

  <h4 class="text-center mb-4">If your site has gone down ☠️ or something is breaking 🤯 and it urgently needs fixing you should report it here.</h4>

  <p>Your team will be <strong>notified immediately</strong> 🚨 and the task will go straight the <strong>top of their priority list</strong> 🔝 </p>

  <p>If our <strong>faulty code</strong> has caused the error 🙈, or your site is <strong>within its warranty</strong> 🔒, the <strong>cost</strong> of finding and fixing the problem will <strong>always be free 🆓 🎉</strong></p>

  <p>That's the <strong><a class="primary" target="_blank" href="/promise">HD Promise™</a></strong></p>

  <p>If you're suddenly thinking hang on, 🤔 <strong>what exactly constitutes faulty code?</strong> Does that mean I am going to be charged for our mistakes? Then <strong>you need to read the <a class="primary" target="_blank" href="/promise">HD Promise™</a></strong></p>

  <p>It's essentially our service agreement. It lays out our <strong>technical terms</strong> , in language a <strong>caveman could understand</strong>. As well as lots of information about who we are, how we work, and <strong class="green">what this whole platform is all about.</strong></p>

  <p><strong>It answers questions like:</strong> What are the <strong>differences</strong> between the <strong>four types of lists?</strong></p>
</strong>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="sub-backed">
        <h5>🚨 Emergency Lists</h5>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h4>Cons</h4>
          </div>
          <div class="col-sm-6">
            <h4>Pros</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="sub-backed">
        <h5>🤝 Quoted Lists</h5>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h4>Cons</h4>
          </div>
          <div class="col-sm-6">
            <h4>Pros</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="sub-backed">
        <h5>⏱️ Support</h5>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h4>Cons</h4>
          </div>
          <div class="col-sm-6">
            <h4>Pros</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="sub-backed">
        <h5>🆓 Free</h5>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <h4>Cons</h4>
          </div>
          <div class="col-sm-6">
            <h4>Pros</h4>
          </div>
        </div>
      </div>
    </div>
  </div>





  <p>If you haven't </p>


  <p></p>





  To put that in simpler terms:

    If we messed up, or you’re within your  warranty -> Emergency To-do tasks are free

    If we didn’t mess up, and your warranty has expired -> They’re not

  Examples of both

    One of us left a comma in a file by mistake, which is caused the profile page to break

    Google change their map API service from free to paid and the map on the profile page stops working.
    (This actually happened in 2018! Millions of maps stopped working overnight. People were so mad!


  Fingers crossed 🤞 neither of those emergencies would ever make it to this list if you had a support contract with Hoxton Digital.

  We stay up to date with all the latest tech news. Meaning we know about things like Google’s new API changes before they even go live.

  On top of that we also install AppSignal on all of our projects. It notifies us (and you too if you like) whenever an error occurs on a site. This means everyone knows about problems as soon as they occur, and we fix them before they can have an impact on users.

  If you hold a support contract with us, and something does go wrong outside of warranty, then cost of fixing it will be deducted from your monthly support budget at the assigned HD developer’s normal hourly rate .

  However if you do not hold a support contract Hoxton Digital, then any time spent on Emergency Tasks will be billed upon completion. You will be charged 120% of HD developer you assign to the task’s normal hourly rate.

  Needless to say none of the maps on our supported sites went down back in 2018.

  I have read the <%= link_to "HD promise™", promise_path %> and understand and accept the "Emergency List Terms” laid on therein

</div>
