<div class="container">
  <h3 class="text-center"><strong><%= @project.user.company %></strong></h3>
  <h1 class="text-center"><strong><%= @project.name %></strong></h1>
  <div class="backed">
    <div class="accordion" id="accordionExample">
      <% @project.lists.each_with_index do |list, index| %>
        <%= render "shared/list", list: list, index: index  %>
      <% end %>
    </div>
  </div>
</div>
