.backed {
  border-radius: 8px;
  background-color: #FAFAFA;
  padding: 1rem;
  margin-bottom: 30px;
  min-height: 175px;
  transition: background-color 0.5s;
  border: 1px solid #E6E6E6;
  display: block;
  &:hover {
    text-decoration: none;
  }
  h4, p {
    text-align: center;
    margin: 0;
    text-decoration: none;
    color: #0E0000;
  }
}

.backed-sm {
  min-height: 145px;
}

.backed-inner {
  width: 100%;
  height: 170px;
  overflow: scroll;
}

.backed-emoji {
  font-size: 50px;
  text-align: center;
}
