.lhs-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  a p,i {
    color: #596568;
  }
}
.overall-cont {
  width: 100%;
}
.nav-btn {
  width: 100%;
  padding: 15px 15px 0px 15px;
}
.btn-100 {
  width: 100%;
}
.rhs-cont {
  width: 100%;
  height: calc(100vh - 66px);
  overflow-y: scroll;
}
.primary {
  i {
    color: $primary !important;
    &:hover {
      color: $primary !important;
    }
  }
  p {
    color: $primary !important;
    &:hover {
      color: $primary !important;
    }
  }
}
.secondary {
  cursor: pointer;
  color: $gray;
  &:hover {
    text-decoration: none !important;
    color: $primary !important;
    p {
      color: $primary !important;
    }
    i {
      color: $primary !important;
    }
  }
}
.edit-link {
  position: absolute;
  bottom: 0;
  right: 0;
}
.je {
  display: flex;
  justify-content: flex-end;
}
.dropdown-toggle::after {
  display: none !important;
}
