.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0.5rem 3rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.btn-primary {
  min-width: 100px;
}
.navbar-lewagon .navbar-brand img {
  width: 35px;
  height: 35px;
}
.jc {
  justify-content: center;
  display: flex;
  // width: 100%;
  align-items: center;
}
.jcst {
  justify-content: center;
  display: flex;
  // width: 100%;
  align-items: flex-start;
}
.line-cont {
  display: flex;
  justify-content: center;
}
.form-control {
  border-radius: 4px;
}
.btn {
  border-radius: 19px;
}
.line-link {
  background-color: white;
  border: 2px $blue solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}
.member-link {
  height: 35px;
  width: 35px;
}
.line {
  margin: 0 10px;
  width: calc(100% - 88px);
  height: 16px;
  border-bottom: 2px solid $blue;
}
.jbtwn {
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: center;
}

.jar {
  justify-content: space-around;
  display: flex;
  width: 100%;
  align-items: center;
}
.brand-logo {
  width: 60%;
  margin: 3rem auto;
}
.wide-btn {
  width: 150px;
}
.top-header {
  margin: 2rem 0;
  text-align: center;
}
.blackbg {
  background-color: black;
}
.head-link {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: -5px;
}
.blue {
  color: $blue;
}
